@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SBAggroB';

    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
      font-family: "SBAggroM", system-ui, sans-serif;

      margin: 0;
      padding: 0;
  
      display: flex;
      justify-content: center;
  
      background-color: #202020;
    }
}

#root {
  min-height: 100vh;
  width: 100%;
  height:100%; 
  
  background-color: #202020;

}
